*{
    margin: 0;
    padding: 1;
    box-sizing: border-box;
    /* font-family: sans-serif; */
    font-family: cursive;
    scroll-behavior: smooth;
}
body{
    /* background-color: #081b29; */
    /* background-color: white; */
    color: #000000;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 11px 90px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size:27px;
    letter-spacing: 2px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}
.a1{
    font-size:20px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 40px;
    color: #000000;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration-color:#eb0f46 ;
    transition: .3s;
    /* margin-bottom: 1px; */
}
#a1{font-family: cursive;}
.navbar a{
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color:#eb0f46 ;
}
span{
    color: white;
}
.home{
    height: 100vh;
    background: url('images/home.png') no-repeat;
    background-size:contain ;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 90px;
}
.home-content{
    max-width: 900px;
    line-height: 1.2;
}
.home-content h1{
    font-size: 54px;
    font-weight: 900;
}
.home-content h3{
    font-size: 50px;
    font-weight: 5600;
    color: #eb0f46;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px ;

}
.btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 90%;
    background-color: #eb0f46;
    border:#eb0f46;
    border-radius: 20px;
    font-size: 19px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}
.btn-box a:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.typewritter{
    width: 20;
    overflow: hidden;
    animation: typing 2.5s steps(20);
    animation-iteration-count: infinite;
    /* animation-direction:alternate ; */
    animation-direction:alternate reverse ;
}
@keyframes typing{
    from{width: 0ch;}
    to{width: 20ch;}
}

/* -------------- about -------------- */
.about{
    width: 100%;
    padding: 100px 0px;
}
.about1{
    width: 100%;
    margin-top: 20px;
    /* padding: 1px 0px; */
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550;
}
.main{
    width: 1130px;
    max-width: 100%;
    margin: 0 auto;
    display:flex ;
    align-items: center;
    justify-content:space-around ;
    
}
.about-text h2{
    color: #eb0f46;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: black;
    text-indent: 2rem;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 15px;
}
#p1{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-style: italic;
    /* line-height: 18px; */
    font-size: 18px;
    margin-bottom: 25px;
}

.service{
    width: 100%;
    /* padding: 1px 0px; */
    margin-top: 10px ;
}
.service1{
    width: 100%;
    padding: 15px 0px;
    margin-top: 0 ;
}
.title{
    color: #000000;
    font-size: 35px;
    letter-spacing: 1px;
    
    width: 1130px;
    margin: 30px auto;
    text-align: left;
}
.title1{
    color: #000000;
    font-size: 40px;
    letter-spacing: 1px;
    padding-top: 3px;
    padding-bottom: 40px;
    width: 160px;
    margin: 0 auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin-bottom: 190px;
}
.card{
    height: 365px;
    width: 355px;
    padding: 20px 12px;
    background-color: #eb0f46;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card1{
    height: 300px;
    width: 500px;
    padding: 20px 12px;
    background-color: #eb0f46;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
span{
    font-size: 15px;
    /* display: block; */
    text-align: center;
    /* margin: 25px 0px; */
    color: #eceaea;
}
.card i{
    font-size: 19px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #eceaea;
}
.card1 i{
    font-size: 19px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #eceaea;
}
.card p{
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #eceaea;
}
.card1 p{
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #eceaea;
}
.box h5{
    color:black ;
    font-size: 18px;
    margin-bottom: 15px;
}
.box1 h5{
    color:black ;
    font-size: 22px;
    margin-bottom: 15px;
}

.pra p{
    color: white;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
}
.pra1 p{
    color: white;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 25px;
}
/* .pra li{
    color: white;
    font-size: 16px;
    text-align: center;
    line-height: 27px;
    margin-bottom: 25px;
} */
/* .card li{
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 5px 0px;
    color: #eceaea;
} */
.about-text #submit{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background: #eb0f46;
    color: white;
    margin-bottom: 10px;
    transition: all .45s ease;
}
.about-text #submit:hover{
    transform: scale(1.1);
    cursor: pointer;

}

/* -------------- contact -------------- */

.contact{
    width: 100%;
    padding: 1px 0px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.contact{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display:flex ;
    align-items: center;
    justify-content:space-around ;
}
.contact-text h2{
    color: #eb0f46;
    font-size: 55px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.contact-text h4{
    color: #000000;
    margin: 18px 0;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
/* .contact-text h2{
    font-size: 25px;
    line-height: 1px;
} */
.contact-text p{
    color: #000000;
    font-size: 22px;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 30px;
}
.list{
    margin-bottom: 12px;
    
}
/* .list li{
    margin-bottom: 12px;
   
}*/
.list a{
    display: block;
    color: #000000;
    font-size: 18px
    /* padding: 28px; */;
    transition: all .45s ease;
} 
.list i{
    height: 45px;
    width: 45px;
    color: #eb0f46;
    font-size: 22px;
    align-items: center;
    border-radius: 15px;
    transition: all .45s ease;
   
}
.list a{
        width: 100%;
        padding: 11px 90px;
        background: transparent;
        justify-content: space-between;
        align-items: center;
        text-decoration-line: none;
}
form{
    /* width: 100%; */
    /* padding: 1px ; */
    background-color: #ffffff;
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr); */
    align-items: center;
    gap: 2.5rem;
}
.contact-form{
    position: relative;
    align-items: center;
}
.contact-form form input{
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    align-items: center;
}
.contact-form form textarea{
    width: 90%;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
}
.contact-form textarea{
    height: 90px;
    align-items: center;
    /* resize: none; */
}
.contact-form .submit{
    width: 200px;
    border-radius: 20px;
    align-items: center;
    display: inline-block;
    font-size: 16px;
    background: #eb0f46;
    color: white;
    margin-bottom: 10px;
    transition: all .45s ease;
}
.contact-form .submit:hover{
    transform: scale(1.2);
    cursor: pointer;

}
.end{
    padding: 0px 70px 0 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: #ffffff;
}
.top i{
    padding: 10px;
    border-radius:8px;
    font-size: 15px;
    color: #ffffff;
    background: #eb0f46;
}
.submit a{
    text-decoration: none;
    color: white;
}

/* -------------- skills -------------- */

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 35px;
    background: linear-gradient(to left top,#ffffff,#ffffff);
}
.wrapper{
    max-width:1100px ;
    width: 100%;
    position: relative;
    margin-top: 80px;
    margin-bottom: 160px;
}
.wrapper i{
    height: 50px;
    width: 0px;
    background: #ee2a6b;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 55px;
    transform: translateY(-5%);
    box-shadow: 0 3px 6px black;
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow:column ;
    grid-auto-columns: calc((100% / 3)-12px);
    gap: 1px;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth ;
    scrollbar-width: 0;
}
.carousel::-webkit-scrollbar{
    display: none;
}
.carousel :where(.card,.img){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.carousel.no-transition{
    scroll-behavior: auto;
}
.carousel.dragging{
    scroll-snap-type:none ;
    scroll-behavior: auto;
}
.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}
.carousel .card{
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    padding-bottom:15px ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card .img{
    background: #eb0f46;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}
.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%; /*img round */
    border: 4px solid rgb(255, 255, 255);
}
.card h3{
    /* font-weight: 500; */
    font-size: 1.56rem;
    color: #eb0f46;
    margin: 30px 0 5px;
}
.card span{
    color: rgb(19, 18, 18);
    font-size: 13px;
    text-align: center;
}

@media screen and (max-width:900px) {
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 2)-9px); 
    }
}
@media screen and (max-width:900px) {
    .wrapper .carousel{
        grid-auto-columns: 1005; 
    }
}

 /* -------------- portifoli -------------- */
.Portfolio{
    margin-bottom: 230px;
}
 .work-text h2{
    color: #eb0f46;
    font-size: 55px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1px;
}


.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    margin-top: 40px;
    
    
}
.work{
    border-radius: 0px;
    position: relative;
    overflow: hidden;
    /* background-color: #eb0f46; */
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s ;
    margin-top: 80px;
}
/* .layer{
    width: 100%;
    height: 0%;
    background:linear-gradient(rgba(255, 255, 255, 0.6),#ff0051);
    border-radius: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 15px;
    transition: height 0.1s;
} */
/* .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
} */
/* .layer a{
    margin-top: 20px;
    color: #ee2a6b;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
} */
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 85%;
}













